* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

.cabecalho {
    width: 100%;
    height: 50px;
    background-color: rgb(10, 10, 10);
    position: relative;
    display: inline-block;
}

.logo {
    text-align: center;
    position: relative;



}

.central {

    width: 55%;
    height: 100vh;
    display: inline-block;
    text-align: center;
    padding: 25px;
    background-color: rgb(252, 246, 251);
    position: relative;

    
    

}

.navbar{
    background: transparent;
    backdrop-filter: blur(10px);
}

.esquerda {
    width: 20%;
    height: 100vh;
    float: left;
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgb(249, 252, 249);
    position: relative;
    border-width: medium;
    border-style: solid;
    border-color: rgb(14, 14, 17);

}

.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#65a9d7));
    background: -webkit-linear-gradient(top, #000000, #65a9d7);
    background: -moz-linear-gradient(top, #000000, #65a9d7);
    background: -ms-linear-gradient(top, #000000, #65a9d7);
    background: -o-linear-gradient(top, #000000, #65a9d7);
    padding: 0px 100px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #ed1532;
    font-size: 15px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #f3f3f3;
    background: #e3fcc9;
    color: #ccc;
}

.button:active {
    border-top-color: #a4f70b;
    background: #ee8d8d;
}

.direita {
    width: 25%;
    height: 100vh;
    float: right;
    background-color: rgb(242, 242, 248);
    padding: 20px;
    border-width: medium;
    border-style: solid;
    border-color: rgb(14, 14, 17);
}

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
    line-height: 0;
}

@media screen and (min-width: 640px) {

    .cabecalho .central,
    .esquerda .direita {
        float: left;
    }


    .cabecalho .central,
    .esquerda .direita {
        width: 25%;
    }


    .cabecalho .central,
    .esquerda .direita {
        width: 75%;
    }
}


.d1 {
    position: absolute;
    height: 100%;
    top: 15px;
    right: 15px;

}

.d2 {
    position: absolute;
    height: 100%;
    top: 15px;
    left: 15px;

}